---
import '../styles/global.css';
import '../styles/shop.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nexus</title>
	</head>
	<body>
		<nav>
			<a href="/"><img src="favicon.svg" alt="logo" width="28" height="28"></a>
			<ul>
				<li><a href="/shop">Shop</a></li>
			</ul>
		</nav>
		<section id="shop">

			<button class="buy-button">Buy Now!</button>
		</section>
	</body>
</html>
